:root {
  --dark: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --title-color: rgb(241, 242, 243);
  --text-color: rgb(255, 255, 255);
  --body-color: rgb(43, 46, 59);
  --container-color: rgb(33, 35, 44);

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.flex-item {
  width: 50%;
  height: 100px;
  flex-grow: 1;
  flex-basis: 0;
}

button {
  display: flex;
  background-color: var(--container-color);
  padding: 0.5rem;
  color: var(--dark);
  font-size: 2rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.3s;
}

button:hover {
  transform: translateY(-0.25rem);
}