@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Work+Sans:wght@300;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 162;
  --teal-first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 1%, 13%);
  --body-font: "Poppins", sans-serif;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  max-height: auto;
  max-width: auto;
  font-family: "Courier New", monospace;
  white-space: nowrap; /* Prevent line breaks */
}

h1,
h2,
h3 {
  text-align: left;
  position: absolute;


}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 7rem;
  gap: 3rem;
  padding: 15px 0;
  background-color: ffffff;
}



h2 {
  margin: 10px 0;
}

section {
  height: 50rem;
  color: white;
  justify-content: first baseline;

}

::-webkit-scrollbar {
  display: none;
}


.home__container {
gap: 1rem;
height: 100vw;
}

#display {
  grid-area: display;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  height: 50vw;
  margin: 1rem;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  display: flex; /* Add display: flex; to use justify-content and align-items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

iframe {
  border: none;
  width: 100%;
  height:100%;
  text-align: center;
  justify-content: center; /* Center horizontally */
}


#sidebar {
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content4 {
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#skills {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  background-color: var(--body-color);
  font-size: 5rem;
  margin: 0.5rem;
}

.hexagon__border {
  display: flex;
  background-color: rgb(52, 52, 52);
  padding: 1rem;
  margin: 0.5rem;
  color: #ffffff;
  opacity: 0.8;
  font-size: 2rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform;
}

.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.codelang {
  display: flex;
  flex-direction: row;
  width: 4rem;
  height: 4rem;
  background-color: var(--body-color);
  font-size: 4rem;
  margin: 0.5rem;
}

.tools {
  width: 95%;
  background-color: var(--body-color);
  margin: 0.5rem;
  text-align: left;
}

.sidebar {
  width: 90%;
  height: 97.5%;
  margin: 2rem;
  margin-top: 0rem;
}

.tools img, i{
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
  height: 95%;
  margin: 2rem;
  margin-left: 1.5rem;
  border-radius: 2rem;
}

/*------------- END LAYOUT -------------*/
/*------------- END LAYOUT -------------*/
/*------------- END LAYOUT -------------*/

/*--------------------------------------*/

/*-------------- TERMINAL --------------*/
/*-------------- TERMINAL --------------*/
/*-------------- TERMINAL --------------*/

#terminalTextInput {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  font-family: "Courier New", monospace;
  padding: 0;
  margin: 0;
  outline: none;
  caret-color: var(--teal-first-color);
  font-size: 1.3rem;
  
}

.terminalCont {
  justify-content: center;
  text-align: left;
  width: auto;
  height: 15%;
  opacity: 1; 
}

#terminalResultsCont {
  text-align: left;
  width: auto;
  height: 5rem;
  margin-top: 7rem;
  margin-left: 2rem;
  font-size: 1rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  
  
}

.terminalDisplay {
  justify-self: top;
  text-align: left;
  margin-top: 2rem;
  width: 100%;
  height: 50%;
  opacity: 1;

}

/*------------- TEXT STYLING -------------*/
/*------------- TEXT STYLING -------------*/
/*------------- TEXT STYLING -------------*/

#description-right {
  float: right;
  font-size: 0.98rem;
  color: var(--teal-first-color);
  opacity: 0.8;
  margin-right: 33.5%;

}

#description-left {
  opacity: 0.8;
  margin-left: 33.5%;
}

#tharaldsen {
  opacity: 0.4;
  text-align: right;
}

.inputText {
  font-size: 3REM;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  margin-left: 2REM;
  line-height: 1.4rem;
}

#cmd, #cmd1, #cmd2, #cmd3, #cmd4 {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Courier New", monospace;
  color: rgb(255, 255, 255);
}

div#a.commands {
  max-width: 35rem;
}

p {
  font-family: "Courier New", monospace;
  line-height: 1.4rem;
  font-size: 1rem;
}

a {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

.home__description {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
  line-height: 1.5rem;
  text-align: left;
}

.button:hover {
  transform: translateY(-0.25rem);
}

/*------------- END TEXT STYLING -------------*/
/*------------- END TEXT STYLING -------------*/
/*------------- END TEXT STYLING -------------*/

.preview-description .eyelid {
  font-weight: 300;
}

.preview-description h1 {
  margin: 10px;
  -webkit-text-fill-color: #42ffc0;
  -webkit-text-stroke: 3px #42ffc0;
  font-size: 55px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "a wolf commands";
  color: #131313;
  text-align: left;
  height: 20rem;
}

#wolf {
  display: flex;
  flex-direction: column;
  grid-area: wolf;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  filter: brightness(100);
  justify-self: center; /* Center horizontally within its grid cell */
  margin-left: 4rem;
}

#wolf:hover {
  filter: none;
}

#commands {
  display: flex;
  max-width: 10vw;
  grid-area: commands;
  margin: 0;
  text-align: left;

}



.commands {
  margin: 2REM;
  margin-left: 0;
  font-size: 1rem;
  font-family: "Courier New", monospace;
  color: rgb(255, 255, 255);
}

nav {
  grid-area: nav;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #131313;
  z-index: 1000;
  
}

.navbar-container {
  position: sticky;
  top: 0;
  background-color: #272626;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #232323;
  box-shadow: #ffffff 0px 0px 10px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  max-height: 39px;
  font-size: 0.7rem;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  cursor: crosshair;
}

.nav-socials {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  overflow: hidden;
  
}

.nav {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.nav:hover {
  color: white;
}

#logo:hover path {
  stroke: red;
  transition: 1000ms all ease-in-out;
}

#logo:hover {
  cursor: crosshair;
}

#logo path {
  transition: 1000ms all ease-in-out;
}

#portfolio {
  background-color: #131313;
}

#press {
  background-color: #333333;
}

#shop {
  background-color: #666666;
}

#about {
  background-color: #131313;
}

.justify-content-center {
  gap: 20px;
  justify-content: center !important;
}

/* TABLE */

#filterTable {
  border-collapse: collapse;
  width: 30rem;
  margin: 1rem;
  font-size: 1rem;
  
}

#filterTable th, #filterTable td {
  text-align: left;
  padding: 12px;
} 


#filterTable tr.header{
  box-shadow: none;
  border: none;
}

#filterTable tr:hover {
  box-shadow: #ffffff 0px 0px 10px 0px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
  
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--body-color);
  color: white;
  cursor: pointer;
}

#myBtnContainer {
  display: flex;
  gap: 1rem;
  margin-left: 1.6rem;
}

.btn:hover {
  box-shadow: #ffffff 0px 0px 10px;
}

.btn.active {
  box-shadow: #ffffff 0px 0px 10px;
}


/*----------- MEDIA QUERIES -------------*/
/*----------- MEDIA QUERIES -------------*/
/*----------- MEDIA QUERIES -------------*/
@media only screen and (max-width: 1000px) {
  .home__container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

@media (max-width: 768px) {
  .justify-content-center {
      gap: 5px;
  }

  .nav-bar {
      flex-direction: column;
      align-items: center;
      padding: 5px 0;
  }

  .nav-links {
      margin: 0;
  }

  .nav {
      padding: 0 10px;
  }
}

@media (min-width: 768px) {
  #footer__socials,
  #footer__skills {
    width: 50%;
  }
}
