/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191A1D;
    color: white;
    scroll-behavior: smooth;
}

/* Center the content vertically and horizontally */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

span{
    margin-left: 2rem;
}

button{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 2rem;
    width: 5rem;
    background-color: var(--color-primary); /* Use the color variable */
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-size: 1rem;
}