:root {
    --color-primary: rgb(72, 72, 72);
}
 
html, body {
    background: #191A1D;
    font-family: 'Karla', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 1rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--color-primary); /* Use the color variable */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

label {
    color: white;
}
