body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 8%);
}

header {
  background-color: hsl(0, 0%, 8%);
  padding: 20px;
  text-align: center;
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.artwork {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.artwork:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}