* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v53_8080 {
  width: 100%;
  height: 2216px;
  background: rgba(31,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8108 {
  width: 561px;
  height: 232px;
  background: url("../images/v53_8108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1707px;
  left: 676px;
  overflow: hidden;
}
.v53_8109 {
  width: 561px;
  height: 232px;
  background: url("../images/v53_8109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8110 {
  width: 526px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v53_8111 {
  width: 480px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v53_8127 {
  width: 100%;
  height: 345px;
  background: url("../images/v53_8127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 76px;
  overflow: hidden;
}
.v53_8128 {
  width: 850px;
  height: 170px;
  background: url("../images/v53_8128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v53_8129 {
  width: 850px;
  color: rgba(250,250,249,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v53_8131 {
  width: 304px;
  height: 190px;
  background: url("../images/v53_8131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v53_8132 {
  width: 304px;
  height: 190px;
  background: rgba(11,11,11,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v53_8133 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 36px;
  overflow: hidden;
}
.v53_8134 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8135 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8136 {
  width: 107px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v53_8137 {
  width: 192px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v53_8141 {
  width: 304px;
  height: 190px;
  background: url("../images/v53_8141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 337px;
  overflow: hidden;
}
.v53_8142 {
  width: 304px;
  height: 190px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v53_8280 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 41px;
  overflow: hidden;
}
.v53_8281 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8282 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8283 {
  width: 93px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v53_8284 {
  width: 192px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v53_8149 {
  width: 304px;
  height: 190px;
  background: url("../images/v53_8149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 675px;
  overflow: hidden;
}
.v53_8150 {
  width: 304px;
  height: 190px;
  background: rgba(18,18,18,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v53_8288 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 40px;
  overflow: hidden;
}
.v53_8289 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8290 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8291 {
  width: 85px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v53_8292 {
  width: 192px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v53_8157 {
  width: 304px;
  height: 190px;
  background: url("../images/v53_8157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 1012px;
  overflow: hidden;
}
.v53_8158 {
  width: 304px;
  height: 190px;
  background: rgba(21,21,21,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v53_8159 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 40px;
  overflow: hidden;
}
.v53_8160 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8296 {
  width: 234px;
  height: 99px;
  background: url("../images/v53_8296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8297 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8298 {
  width: 192px;
  height: 99px;
  background: url("../images/v53_8298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_8299 {
  width: 92px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v53_8300 {
  width: 192px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v53_8228 {
  width: 100%;
  height: 410px;
  background: url("../images/v53_8228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 76px;
  overflow: hidden;
}
.v53_8231 {
  width: 856px;
  color: rgba(239,237,232,0.6499999761581421);
  position: absolute;
  top: 386px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v53_8232 {
  width: 100%;
  color: rgba(250,250,249,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 172px;
  opacity: 1;
  text-align: left;
}
.v53_8307 {
  width: 100%;
  height: 929px;
  background: url("../images/v53_8307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1133px;
  left: 76px;
  overflow: hidden;
}
.v53_8309 {
  width: 100%;
  color: rgba(250,250,249,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v63_489 {
  width: 304px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 158px;
  left: 56px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v63_490 {
  width: 304px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 607px;
  left: 56px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v78_7284 {
  width: 441px;
  color: rgba(250,250,249,1);
  position: absolute;
  top: 899px;
  left: 48px;
  font-family: Archivo Black;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v53_8278 {
  width: 574px;
  height: 468px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 1200px;
  left: 678px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v63_492 {
  width: 408px;
  height: 107px;
  background: url("../images/v63_492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 76px;
  overflow: hidden;
}
.v63_493 {
  width: 408px;
  height: 106px;
  background: rgba(21,21,21,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v63_494 {
  width: 403px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
